
.wraperContent{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:0 auto;
    margin-bottom: 2.25rem;
}

.btnVoltar{
    background-color: #FFF6F6;
    width: 80px;
    height: 50px;
    border-radius: 60px;
    border:none;
    box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.btnVoltar:hover{
    cursor:pointer;
    background-color: #f8eded;
}

.wrapperLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.btnLinks{ 
    display:flex;
    border:none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #464141;
    background-color: #FFF6F6;
    border-radius:15px;
    box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
    transition: 0.4s ease;
}
.btnLinks:hover{
    cursor:pointer;
    background-color: #f8eded;
}
.wraperTextLink{
    width: 90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.iconLinks{
    background-color: #464141;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:50%
}

.iconLinks.iconTow{
    width: 35px;
    height: 35px;
}

.containerAviso{
    background-color: #FFF6F6;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
    padding: 15px 0;
}

.wrapperAviso{
    width: 90%;
    margin: 0 auto;
}

.wrapperTitle{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.title{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #464141;
}

.text{
    font-family: 'Montserrat',sans-serif;
    font-size: 10px;
    font-weight: 800;
    color: #0000002f;
}

@media(max-width: 600px) {
    .header{
        margin-bottom: 0;
    }
    .btnVoltar{
        font-size: 16px;
    }
    .btnLinks{
        font-size: 1.20rem;
        height: 60px;
    }
}