
.container{
    background-color: #FFF6F6;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 1px 4px 8px 2px #00000052;
    font-family: "Montserrat",sans-serif;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:0 auto;
}

.btnVoltar{
    background-color: #FFF6F6;
    width: 80px;
    height: 50px;
    border-radius: 60px;
    border:none;
    box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.btnVoltar:hover{
    cursor:pointer;
    background-color: #f8eded;
}

.containerHeader{
  display: flex;
    width: fit-content;
  margin: 0 auto;
}

.containerCenter {
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    margin: 50px auto;
}
#myChart{
    width: 300px;
    height: 300px;
}
.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.number {
    font-size: 16px;
    font-weight: bold;
    color: #514E4E;
}
.label {
    font-size: 12px;
    font-weight: bold;
    color: #9D9999;
}


.containerNutrients{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}
.wrapperProgressBar{
  width: fit-content;
}

.progressBarContainer {
  width: 150px;
  max-width: 300px;
  height: 10px;
  background-color: #eaeaea;
  border-radius: 10px;
  margin: 20px auto 5px;
  overflow: hidden;
  transition: 0.5s ease;
}

.progressBarFill {
  height: 100%;
  background-color: #3abff8;
  border-radius: 10px;
  transition: 0.5s ease;
  animation: aumente 0.6s ;
}

.progressTitle{
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.progressText {
    font-family: "Montserrat",sans-serif;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.total {
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
}

@media(max-width: 900px) {
    .containerCenter {
      margin: 20px 0;
    }
    #myChart{
    width: 100px;
    height: 100px;
    }

    .number {
    font-size: 12px;
    }
    .label {
    font-size: 10px;
    }

    .progressBarContainer {
      width: 80px;
    }

    .progressTitle{
      font-size: 10px;

    }

    .progressText {
      font-size: 08px;
    }
}


@media(max-width: 315px) {
  .progressBarContainer {
    width: 60px;
  }
  .number {
    font-size: 10px;
    }
  .label {
    font-size: 8px;
  }
}

@keyframes aumente {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}