.container{
    width: 100vw;
    height: 100vh;
    background-image: url('/img/bckgDesktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: auto;
}
.wrapper{
    background-color: #ffffff26;
    width: 90%;
    max-width: 920px;
    min-height: 500px;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius:20px;
    box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
    padding: 1.25rem 0;
}

@media(max-width: 600px) {
    .container{
    background-image: url('/img/bckgMobile.png');
}

}

@media(max-height: 650px) {

    .wrapper{
        top: 2.5rem;
    }
    .marginBot{
        width: 100%;
        position: absolute;
        height: 2rem;
        bottom: -1rem;
    }
}