.container {
  display: flex;
  gap: 10px;
  font-family: sans-serif;
  justify-content: space-evenly;
  background-color: #FFF6F6;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
  padding: 15px 0;
  width: 95%;
  margin: 0 auto;
}
.wrapperDia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dianumber{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    color: #00000040;
}

.dia {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  background-color: #bde7f8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 10px;  
}

.inativo {
  background-color: #d3d3d3; /* cinza claro */
}

.sigla {
  font-size: 12px;
  font-weight: 800;
  color: #777;
  font-family: 'Montserrat',sans-serif;
}
.iconLinks{
  width: 25px;
  height: 25px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:50%
}
@media(max-width: 600px) {
    .dia {
        width: 30px;
        height: 30px;
        font-size: 7px;
    }

    .sigla {
    font-size: 10px;
    }
}

@media(max-width: 360px) {
    .dia {
        width: 20px;
        height: 20px;
        font-size: 6px;
    }
}